﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Cliente._Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <tr>
    <td>NOMBRE  USUARIO</td>
    <td></td>
    </tr>
    
        <asp:TextBox ID="Txbcodigocliente" runat="server"></asp:TextBox>
    
    </div>
    </form>
</body>
</html>
