@import url(https://fonts.googleapis.com/css?family=PT+Serif);

#calculadora
{
	padding: 10px;
	border-radius: 110px;
	width: 28%;
	height: 570px;
	background-color: #000;
	border-radius: 5px;
	position: absolute;
}
.button
{
	font:15px;
	margin: 2px;
	width: 55px;
	padding: 15px;

}
#textopantalla
{
	font:20px arial;
	text-align: center;
	border-radius: #fff 20px solid;
}


#tab5
{
	float: left;
	width: 78%;
    margin: 1px;

}
#tab7{

    float: left;
	width: 78%;
    margin: 1px;

}

#cero
{
	height: 45px;
	width: 95px;
}

#screen
{
    margin: 20px;
	width: 190px;
	height: auto;
	padding: 10px;
	background-color: #fff;
	border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border: 4px solid #9966CC;
}
h1{
	font-size: 25px;
	background: #fff;

}

#igual
{

    height: 60px;

}